* {
    box-sizing: border-box;
    font-family: 'Roboto Mono';
}

html, body {
    height :100%;
}

body {
    margin: 0;
    background-color: #323437;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1000px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.header { 
    display: flex;
    justify-content: space-between;
    cursor:pointer;
}

.logo .subtitle {
    color: #646669;
    font-size: 10px;
}

.logo .title {
    color: #e2b714;
    font-size: 36px;
    margin-top: -12px;
}
    
.config {
    color: #646669;
    line-height: 13px;
    text-align: right;
    font-size: 11px;

}

.middle {
    line-height: 35px;
    text-align: left;
    font-size: 24px;
    color: #646669;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.botom .keytips .button {
    background-color: #646669;
    color:#323437;
    padding: 1px 3px;
    border-radius: 1.6px;
}

.botom {
    color: #646669;
    font-size: 13px;
}

.keytips {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.keytips .row:last-of-type {
    margin-top: 5px;
}

.left {
    text-align: left;
    line-height: 18px;
    margin: 0;
}

.right {
    line-height: 16px;
    text-align: right;
    margin-top:-40px;

}

.config .row .config-name {
    cursor: pointer;
    color: #646669;
    font-size: 12px;
}

.config .row .config-name:hover {
    color: #e2b714;
}

.config .row .config-name.selected {
    color: #e2b714;
}